.top-bar{
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.top-bar img{
    width: 200px;
    height: 100%;
}